<!-- Footer -->
<!-- --------------------------------------------------------------------- -->

<footer>
<div class="grid">

	<div class="footer--attr">
		<h2>
			Argonne<br>Laboratory Computing<br>Resource Center
		</h2>
	</div>

	<div class="footer--address">
		<p>
			Argonne National Laboratory<br>
			9700 South Cass Avenue<br>
			Building 240<br>
			Argonne, IL 60439<br>
			<a href="mailto:media@alcf.anl.gov">Contact</a>
		</p>
	</div>

	<div class="footer--follow">
		<p>
			Follow Argonne on Social Media
			<a href="https://www.facebook.com/argonne" class="fbemoji social">
			  {% include ".icons/fontawesome/brands/facebook.svg" %} 
			</a>
			<a href="https://twitter.com/argonne" class="twemoji social">
			  {% include ".icons/fontawesome/brands/twitter.svg" %} 
			</a>
			<a href="https://www.youtube.com/user/ArgonneNationalLab" class="ytemoji social">
			  {% include ".icons/fontawesome/brands/youtube.svg" %} 
			</a>
			<a href="https://www.linkedin.com/company/argonne-national-laboratory/" class="liemoji social">
			  {% include ".icons/fontawesome/brands/linkedin.svg" %} 
			</a>
		</p>
	</div>

	<!-- <div class="footer--admin">
		<a href="/saml_login">Internal Admin</a>
	</div> -->

	<div class="footer--copyright">
		<p>
			&copy; 2024 Argonne National Laboratory
		</p>
	</div>

	<div class="footer--logos">
		<img class="footer--logo-doe" src="{{ config.site_url }}/images/DOE_ko_300.png">
		<img class="footer--logo-argonne" src="{{ config.site_url }}/
		images/ANL_ko_300.png">
		<img class="footer--logo-llc" src="{{ config.site_url }}/
		images/LLC_ko_300.png">
	</div>

</div>
</footer>
